<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="Askbootstrap">
      <meta name="author" content="Askbootstrap">
      <link rel="icon" type="image/png" href="../public/img/fav.png">
      <title>Swiggi - Online Food Ordering Website Mobile Template</title>
      <!-- Slick Slider -->
      <link rel="stylesheet" type="text/css" href="../public/modules/vendor/slick/slick.min.css"/>
      <link rel="stylesheet" type="text/css" href="../public/modules/vendor/slick/slick-theme.min.css"/>
      <!-- Feather Icon-->
      <link href="../public/modules/vendor/icons/feather.css" rel="stylesheet" type="text/css">
      <!-- Bootstrap core CSS -->
      <link href="../public/modules/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom styles for this template -->
      <link href="../public/css/client/style.css" rel="stylesheet">
      <!-- Sidebar CSS -->
      <link href="../public/modules/vendor/sidebar/demo.css" rel="stylesheet">
   </head>
   <body>
      <div class="bg-primary d-flex align-items-center justify-content-center vh-100 index-page">
         <div class="text-center"><a href="login.html"><img src="../public/img/logo.png" alt=""></a><br>
            <div class="spinner"></div></div>
      </div>
      <div class="fixed-bottom d-flex align-items-center justify-content-center">
         <a class="btn btn-block d-flex align-items-center btn-lg btn-warning" href="login.html">
            Get Started <i class="feather-arrow-right ml-auto"></i>
         </a>
      </div>
      <!-- Bootstrap core JavaScript -->
      <script src="../public/modules/vendor/jquery/jquery.min.js"></script>
      <script src="../public/modules/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- slick Slider JS-->
      <script type="text/javascript" src="../public/modules/vendor/slick/slick.min.js"></script>
      <!-- Sidebar JS-->
      <script type="text/javascript" src="../public/modules/vendor/sidebar/hc-offcanvas-nav.js"></script>
      <!-- Custom scripts for all pages-->
      <script src="../public/js/osahan.js"></script>
   </body>
</html>
