<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="Askbootstrap">
      <meta name="author" content="Askbootstrap">
      <link rel="icon" type="image/png" href="demo/logo.png">
      <title>Swiggi - Online Food Ordering Website Mobile Template</title>
      <!-- Bootstrap core CSS -->
      <link href="demo/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="demo/vendor/bootstrap/css/demo.css" rel="stylesheet">
   </head>
   <body>
      <div class="bg-danger text-center px-3 pt-2 pb-5">
         <img class="logo" src="demo/logo.png">
         <p class="text-warning">#Start Your Mobile App Today With Swiggi</p>
         <h5 class="mb-2 text-white">Swiggi - Online Food Ordering Website Mobile Template <small class="btn-warning h6  rounded px-2 py-1">SALE</small></h5>
         <p class="text-white-50 small mb-4">Classic and modern design mobile app</p>
         
         <a class="btn btn-lg btn-warning shadow mb-1 mt-1" href="https://themeforest.net/item/swiggi-online-food-ordering-website-mobile-template/27990254">Purchase Now</a>
      </div>
      <div class="py-5">
         <div class="container">
            <div class="row">
               <div class="col-lg-6 text-center">
                  <p class="text-danger small mb-2">Scan to View on Your Mobile Device
                  </p>
                  <a href="https://askbootstrap.com/preview/swiggi/index.html">
                  <img class="mb-3 mb-4 qrcode" src="demo/qrcode.png">
                  
                  </a>
                  <div class="phone-screen">
                     <div class="f-r">
                     <iframe name="preview" src="index.html"></iframe> 
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 text-center">
                  <p class="text-danger small mb-2">Scan to View on Your Mobile Device
                  </p>
                  <a href="https://askbootstrap.com/preview/swiggi/template2/index.html">
                  <img class="mb-3 mb-4 qrcode" src="demo/qrcode2.png">
                  
                  </a>
                  <div class="phone-screen">
                     <div class="f-r">
                     <iframe name="preview" src="template2/index.html"></iframe> 
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Page Content -->
   </body>
</html>