<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="Burans sign up">
      <meta name="author" content="Burans sign up">
      <link rel="icon" type="image/png" href="../public/img/fav.png">
      <title>Sign up</title>

      <!-- Bootstrap core CSS -->
      <link href="../public/modules/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom styles for this template -->
      <link href="../public/css/client/style.css" rel="stylesheet">
   </head>
   <body>
      <div class="osahan-signup login-page">
         <video loop autoplay muted id="vid">
            <source src="../public/img/bg.mp4" type="video/mp4">
            <source src="../public/img/bg.mp4" type="video/ogg">
            Your browser does not support the video tag.
         </video>
         <div class="vh-100">
            <div class="p-4">
               <h2 class="text-white my-0">Hello There.</h2>
               <p class="text-white text-50">Sign up to continue</p>
               <form class="mt-5 mb-4" action="landing.html">
                  <div class="form-group">
                     <label for="exampleInputName1" class="text-white">Name</label>
                     <input type="text" placeholder="Enter Name" class="form-control" id="exampleInputName1" aria-describedby="nameHelp">
                  </div>
                  <div class="form-group">
                     <label for="exampleInputNumber1" class="text-white">Mobile Number</label>
                     <input type="number" placeholder="Enter Mobile" class="form-control" id="exampleInputNumber1" aria-describedby="numberHelp">
                  </div>
                  <div class="form-group">
                     <label for="exampleInputPassword1" class="text-white">Password</label>
                     <input type="password" placeholder="Enter Password" class="form-control" id="exampleInputPassword1">
                  </div>
                  <button class="btn btn-primary btn-lg btn-block">
                     <a class="verification.html" class="font-decoration-none">
                        SIGN UP</a>
                  </button>
               </form>
            </div>
            <div class="new-acc fixed-bottom d-flex align-items-center justify-content-center">
            <a href="login.html"><p class="text-center text-white m-0">Already an account? Sign in</p></a>
            </div>
         </div>
      </div>
      <!-- Bootstrap core JavaScript -->
      <script src="../public/modules/vendor/jquery/jquery.min.js"></script>
      <script src="../public/modules/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- slick Slider JS-->
      <script type="text/javascript" src="../public/modules/vendor/slick/slick.min.js"></script>
      <!-- Sidebar JS-->
      <script type="text/javascript" src="../public/modules/vendor/sidebar/hc-offcanvas-nav.js"></script>
      <!-- Custom scripts for all pages-->
      <script src="../public/js/osahan.js"></script>
   </body>
</html>
