</section>
</div>
<footer class="main-footer">
    <div class="footer-left">
        Copyright &copy; Burans <%= new Date().getFullYear() %>
    </div>
    <div class="footer-right">

    </div>
</footer>
</div>
</div>
<%- include("scripts") %>
