<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title><%= title %> &mdash; Burans</title>

    <!-- General CSS Files -->
    <link rel="stylesheet" href="/modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/modules/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/modules/izitoast/css/iziToast.css">
    <!-- CSS Libraries -->
    <% if (url == "/create-product" || url == "/update-product" ) { %>
        <link rel="stylesheet" href="/modules/dropzonejs/dropzone.css">
        <link rel="stylesheet" href="/modules/select2/dist/css/select2.min.css">
    <% } %>

    <% if (url == "/create-categories" ) { %>
        <link rel="stylesheet" href="/modules/select2/dist/css/select2.min.css">
    <% } %>

    <% if (url == "/create-vendor"  || url === "/update-vendor") { %>
        <link rel="stylesheet" href="/modules/select2/dist/css/select2.min.css">
    <% } %>

    <link rel="stylesheet" href="/modules/datatables/datatables.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/components.css">

    <% if (url != "auth_login") { %>
        <%- include("layout") %>
        <%- include("sidebar") %>
    <% } %>
