<!-- General JS Scripts -->
<script src="/modules/jquery.min.js"></script>
<script src="/modules/popper.js"></script>
<script src="/modules/tooltip.js"></script>
<script src="/modules/bootstrap/js/bootstrap.min.js"></script>
<script src="/modules/nicescroll/jquery.nicescroll.min.js"></script>
<script src="/modules/moment.min.js"></script>
<script src="/js/stisla.js"></script>
<script src="/modules/izitoast/js/iziToast.js"></script>
<!-- JS Libraies -->
<% if (url === "/create-product" || url === "/update-product") {  %>
    <script src="/modules/jquery-ui/jquery-ui.js"></script>
    <script src="/modules/dropzonejs/min/dropzone.min.js"></script>
    <script src="/modules/select2/dist/js/select2.js"></script>
    <script src="/modules/select2/dist/js/select2.full.js"></script>
    <script src="/modules/jquery-validation/js/jquery.validate.js"></script>
<% } %>
<% if (url === "/create-categories" || url=="/update-categories") {  %>
    <script src="/modules/select2/dist/js/select2.js"></script>
    <script src="/modules/select2/dist/js/select2.full.js"></script>
    <script src="/modules/jquery-validation/js/jquery.validate.js"></script>
    <script src="/modules/upload-preview/assets/js/jquery.uploadPreview.js"></script>
<% } %>

<% if (url === "/categories" || url === "/products" ||
        url === "/view-vendor"|| url==="/view-delivery-boys"||
        url ==="/add-ons-products"
) {  %>
<script src="/modules/datatables/datatables.min.js"></script>
<script src="/modules/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script src="/modules/datatables/Select-1.2.4/js/dataTables.select.min.js"></script>
<% } %>

<% if (url === "/create-vendor" || url === "/update-vendor"
        || url === "/create-add-ons-product" || url === "/update-add-ons-product") {  %>
    <script src="/modules/select2/dist/js/select2.js"></script>
    <script src="/modules/select2/dist/js/select2.full.js"></script>
    <script src="/modules/jquery-validation/js/jquery.validate.js"></script>
    <script src="/modules/upload-preview/assets/js/jquery.uploadPreview.js"></script>
<% } %>

<% if (url === "/create-offers" || url === "/create-delivery-boy") {  %>
    <script src="/modules/jquery-validation/js/jquery.validate.js"></script>
    <script src="/modules/upload-preview/assets/js/jquery.uploadPreview.js"></script>
<% } %>

<!-- Template JS File -->
<script>
    const baseURL = '<%= process.env.BASE_URL %>';
</script>
<script src="/js/scripts.js"></script>
<script src="/js/custom.js"></script>


<!--page js-->

<% if (url === "/create-categories" || url=="/update-categories") {  %>
    <script src="/js/page/category-form.js"></script>
<% } %>
<% if (url === "/create-product" || url=="/update-product") {  %>
    <script src="/js/page/product-form.js"></script>
<% } %>
<% if (url === "/create-vendor" || url === "/update-vendor") {  %>
    <script src="/js/page/vendor-form.js"></script>
<% } %>
<% if (url === "/create-delivery-boy" || url === "/update-delivery-boy") {  %>
    <script src="/js/page/delivery-boy-form.js"></script>
<% } %>
<% if (url === "/create-add-ons-product" || url === "/update-add-ons-product") {  %>
    <script src="/js/page/addons-product-form.js"></script>
<% } %>
<% if (url === "/categories") {  %>
    <script src="/js/page/category.js"></script>
<% } %>
<% if (url === "/products") {  %>
    <script src="/js/page/products.js"></script>
<% } %>
<% if (url === "/view-vendor") {  %>
    <script src="/js/page/vendors.js"></script>
<% } %>
<% if (url === "/view-delivery-boys") {  %>
    <script src="/js/page/delivery-boys.js"></script>
<% } %>
<% if (url === "/add-ons-products") {  %>
    <script src="/js/page/addons-prodcuts.js"></script>
<% } %>



</body>
</html>
