<%- include("../common/header") %>

<div class="osahan-home-page">
    <!-- Top Nav Bar-->
    <div class="shadow p-3 homepage-osahan-header bg-white">
        <div class="title d-flex align-items-center">
            <div class="mr-auto">
                <a class="text-dark d-flex align-items-center" href="location.html">
                    <i class="feather-map-pin fs-18 mr-2"></i>
                    <h6 class="m-0 border-dashed-bottom">Mumbai, Maharashtra 410206
                    </h6>
                </a>
            </div>
            <div class="ml-auto d-flex align-items-center">
                <a class="text-dark mx-2 fs-18 top-nav-btn-cart position-relative" data-toggle="modal"
                   data-target="#exampleModal" href="#">
                    <i class="feather-filter"></i>
                </a>
                <a class="toggle ml-2 text-dark hc-nav-1" href="#" role="button" aria-controls="hc-nav-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                         class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
                    </svg>
                </a>
            </div>
        </div>
        <div class="input-group border osahan-search mt-3 rounded-lg shadow-sm overflow-hidden">
            <div class="input-group-prepend">
                <button class="border-0 btn btn-outline-secondary text-primary bg-white btn-block"><i
                            class="feather-search"></i></button>
            </div>
            <input type="text" class="shadow-none border-0 form-control pl-0"
                   placeholder="Search for restaurants or dishes" aria-label="" aria-describedby="basic-addon1">
        </div>
    </div>
    <div class="osahan-main">
        <!-- Category -->
        <div class="cat-slider border-bottom" id="category_list"></div>
        <!-- Trending -->
        <div class="px-3 pt-3 title d-flex align-items-center">
            <h6 class="m-0 font-weight-bold">Trending this week</h6>
            <a class="font-weight-bold ml-auto" href="trending.html">View all <i class="feather-chevrons-right"></i></a>
        </div>
        <div class="trending-slider" id="trending-list"></div>
        <!-- Offers -->
        <div class="offer-slider bg-white border-top border-bottom" id="offer-list"></div>
    </div>
    <!-- Footer -->
    <%- include("../common/bottom-nav-bar") %>
</div>

<%- include("../common/footer") %>
