<%- include("../common/header") %>
<div class="osahan-country">
    <div class="search_location border-bottom p-3 text-right">
        <a href="/client/home">Skip <i class="feather-chevron-right"></i></a>
        <div class="input-group osahan-search mt-3 border shadow-sm rounded-lg overflow-hidden">
            <div class="input-group-prepend">
                <button class="border-0 btn btn-outline-secondary text-primary bg-white btn-block"><i class="feather-search"></i></button>
            </div>
            <input type="text" class="shadow-none border-0 form-control pl-0" placeholder="Enter Your Location" aria-label="" aria-describedby="basic-addon1">
        </div>
    </div>
    <div class="p-3 border-bottom">
        <a href="/client/home" class="text-decoration-none">
            <p class="font-weight-bold text-primary m-0"><i class="feather-navigation"></i> New York, USA</p>
        </a>
    </div>
    <div class="filter">
        <h6 class="px-3 py-3 bg-light pb-1 m-0 border-bottom">Choose your country</h6>
        <div class="custom-control  border-bottom px-0 custom-radio">
            <input type="radio" id="customRadio1" name="location" class="custom-control-input">
            <label class="custom-control-label py-3 w-100 px-3" for="customRadio1">Afghanistan</label>
        </div>
        <div class="custom-control  border-bottom px-0 custom-radio">
            <input type="radio" id="customRadio2" name="location" class="custom-control-input" >
            <label class="custom-control-label py-3 w-100 px-3" for="customRadio2">India</label>
        </div>
        <div class="custom-control  border-bottom px-0 custom-radio">
            <input type="radio" id="customRadio3" name="location" class="custom-control-input">
            <label class="custom-control-label py-3 w-100 px-3" for="customRadio3">USA</label>
        </div>
        <div class="custom-control  border-bottom px-0 custom-radio">
            <input type="radio" id="customRadio4" name="location" class="custom-control-input">
            <label class="custom-control-label py-3 w-100 px-3" for="customRadio4">Australia</label>
        </div>
        <div class="custom-control  border-bottom px-0 custom-radio">
            <input type="radio" id="customRadio5" name="location" class="custom-control-input">
            <label class="custom-control-label py-3 w-100 px-3" for="customRadio5">Japan</label>
        </div>
        <div class="custom-control  border-bottom px-0 custom-radio">
            <input type="radio" id="customRadio6" name="location" class="custom-control-input">
            <label class="custom-control-label py-3 w-100 px-3" for="customRadio6">China</label>
        </div>
    </div>
</div>

<%- include("../common/footer") %>
