<%- include("../common/header") %>

 <h2 align="center"><a href="#">Login To Google</a></h2>
 <br />
 <div class="words" contenteditable>
  <p id="p"></p>
  <p id="longtext"></p>
</div>
<br>
 <!-- <div class="container">
   
     <a href="https://accounts.google.com/o/oauth2/v2/auth?access_type=offline&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcalendar&response_type=code&client_id=402309286447-sv186c4n1sca430n9po3oic8s8tii7p9.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fclient%2FgoogleCalender">
       <button type="button" class="btn btn-primary">
       Login</button></a>
 </div> -->
 <section class="vh-100" style="background-color: #508bfc;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <a href="https://accounts.google.com/o/oauth2/v2/auth?access_type=offline&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcalendar&response_type=code&client_id=402309286447-sv186c4n1sca430n9po3oic8s8tii7p9.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fclient%2FgoogleCalender">
            <button class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39;"
              type="submit"><i class="fab fa-google me-2"></i> Sign in with google</button>
          </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include("../common/footer") %>
<script>
   $("#longtext").empty();
  var longtext=`Node is an open-source, cross-platform, back-end JavaScript runtime environment that runs on the V8 engine and executes JavaScript code outside a web browser. Node.js lets developers use JavaScript to write command line tools and for server-side scripting—running scripts server-side to produce dynamic web page content before the page is sent to the user's web browser. Consequently, `;
  // console.log($("#longtext").text().split(' ')[0].css("background", "green"));
  longtext=longtext.split(' ');

longtext.forEach((value)=>{
if(value!=''){
  $("#longtext").append(`<span id="${value.toLowerCase()}_chap1">${value}</span> `);
}
})
  var speech = true;
  window.SpeechRecognition = window.SpeechRecognition
                  || window.webkitSpeechRecognition;

  const recognition = new SpeechRecognition();
  recognition.interimResults = true;
  const words = document.querySelector('.words');
  words.appendChild(p);

  recognition.addEventListener('result', e => {
      const transcript = Array.from(e.results)
          .map(result => result[0])
          .map(result => result.transcript)
          .join('')

      document.getElementById("p").innerHTML = transcript;
            longtext.forEach((v)=>{
           
                  // if(v==transcript){
                    longtext.splice(longtext.indexOf(transcript), 1);
                    console.log(`#${transcript}_chap1`);
                    $(`#${transcript}_chap1`).css("background", "green")
                    // }
            })
           

  });

    
  if (speech == true) {
      recognition.start();
      recognition.addEventListener('end', recognition.start);
  }
</script>



