<%- include("../common/header") %>
<style>
    .center {
        margin: auto;
        position: relative;
        text-align: center;
        top: 50%;
        width: 20%;
    }
</style>
<div class="osahan-trending">
    <div class="bg-light border-bottom p-3">
        <a class="toggle toggle-2" href="#"><span></span></a>
        <a class="text-primary font-weight-bold" href="/client/home"><i class="feather-chevron-left"></i> Back</a>
        <h2 class="font-weight-bold pt-3 m-0">Trending</h2>
    </div>
    <div class="bg-light">
        <div class="cat-slider border-bottom" id="Subcategory_list">

        </div>
    </div>
    <!-- Most popular -->
    <div class="most_popular p-3">
        <div class="row" id="product_list">

        </div>
    </div>
    <div class="most_popular center">
        <div class="row" id="pagination">

        </div>
    </div>

</div>

<%- include("../common/footer") %>
<script src="/js/client/product.js"></script>
