<div class="modal fade"  role="dialog" id="fire-modal-approval"  tabindex="-1"
     data-backdrop="false"
     aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header"><h5 class="modal-title">Approval</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <ul class="list-unstyled list-unstyled-border" id="approvalPendingList">
                    <li class="media">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="cbx-1">
                            <label class="custom-control-label" for="cbx-1"></label>
                        </div>
                        <div class="media-body">
                            <div class="badge badge-pill badge-primary mb-1 float-right">Completed</div>
                            <h6 class="media-title">Redesign header</h6>
                            <div class="text-small text-muted">Alfa Zulkarnain</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
