<%- include("../../partials/header") %>

<div class="row">
    <div class="col-12 col-md-6 col-lg-6">
        <div class="card">
            <form id="deliveryBoyForm" method="post" data-form-valid="saveDeliveryBoyDetails">
                <input type="hidden" name="deliveryBoyId" id="deliveryBoyId" value="<%=deliveryBoyId%>" />
            <div class="card-header">
                <h4>Delivery boy Details</h4>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>Profile Photo</label>
                    <div id="profile-image-preview" class="image-preview">
                        <label for="profile-image" id="profile-image-label">Choose File</label>
                        <input type="file" name="profileImage" id="profile-image"
                               data-error="#profile-image-error"
                               data-valid="required" data-msg="Please select Profile Image">
                    </div>
                    <div id="profile-image-error"></div>
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="name" id="name"
                           data-valid="required" data-msg="Please enter name">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Mobile Number</label>
                        <input type="text" class="form-control" name="mobileNumber" id="mobileNumber"
                               data-valid="required" data-msg="Please enter mobile number">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Email</label>
                        <input type="text" class="form-control" name="email" id="email">
                    </div>
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <textarea type="text" class="form-control form-control-sm" name="address" id="address"  cols="5"></textarea>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>license No</label>
                        <input type="text" class="form-control" name="license" id="license"
                               data-valid="required" data-msg="Please enter license">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Bike Rc</label>
                        <input type="text" class="form-control" name="bikeRc" id="bikeRc"
                               data-valid="required" data-msg="Please enter bike Rc">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>license Photo</label>
                        <div id="license-image-preview" class="image-preview">
                            <label for="license-image" id="license-image-label">Choose File</label>
                            <input type="file" name="licenseImage" id="license-image">
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Bike Rc Photo</label>
                        <div id="rc-image-preview" class="image-preview">
                            <label for="rc-image" id="rc-image-label">Choose File</label>
                            <input type="file" name="bikeRcImage" id="rc-image">
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <label>Areas</label>
                    <select id="area" name="area" multiple
                            data-valid="required" data-msg="Please select areas">
                    </select>
                </div>

                <div class="form-group">
                    <label>Vendors</label>
                    <select id="vendor" name="vendor" multiple>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-label">Status</label>
                    <div class="selectgroup selectgroup-pills">
                        <label class="selectgroup-item">
                            <input type="radio" name="status" value="1" class="selectgroup-input" checked="">
                            <span class="selectgroup-button selectgroup-button-icon"><i class="fas fa-sun"></i></span>
                        </label>
                        Active
                        <label class="selectgroup-item pl-2">
                            <input type="radio" name="status" value="2" class="selectgroup-input">
                            <span class="selectgroup-button selectgroup-button-icon"><i class="fas fa-moon"></i></span>
                        </label>
                        Inactive
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
            </form>
        </div>
    </div>
</div>


<%- include("../../partials/footer") %>
