<%- include("../../partials/header") %>

<div class="row">
    <div class="col-12 col-md-6 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4>Delivery boy Details</h4>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>Profile Photo</label>
                    <div id="image-preview" class="image-preview">
                        <label for="image-upload" id="image-label">Choose File</label>
                        <input type="file" name="image" id="image-upload">
                    </div>
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="txt_product_name" id="txt_product_name">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Mobile Number</label>
                        <input type="text" class="form-control" name="txt_product_name" id="txt_product_name">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Email</label>
                        <input type="text" class="form-control" name="txt_product_name" id="txt_product_name">
                    </div>
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <textarea type="text" class="form-control" cols="5"></textarea>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>license No</label>
                        <input type="text" class="form-control" name="txt_product_name" id="txt_product_name">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Bike Rc</label>
                        <input type="text" class="form-control" name="txt_product_name" id="txt_product_name">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>license Photo</label>
                        <div id="image-preview" class="image-preview">
                            <label for="image-upload" id="image-label">Choose File</label>
                            <input type="file" name="image" id="image-upload">
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Bike Rc Photo</label>
                        <div id="image-preview" class="image-preview">
                            <label for="image-upload" id="image-label">Choose File</label>
                            <input type="file" name="image" id="image-upload">
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <label class="form-label">Status</label>
                    <div class="selectgroup selectgroup-pills">
                        <label class="selectgroup-item">
                            <input type="radio" name="icon-input" value="1" class="selectgroup-input" checked="">
                            <span class="selectgroup-button selectgroup-button-icon"><i class="fas fa-sun"></i></span>
                        </label>
                        Active
                        <label class="selectgroup- pl-2">
                            <input type="radio" name="icon-input" value="2" class="selectgroup-input">
                            <span class="selectgroup-button selectgroup-button-icon"><i class="fas fa-moon"></i></span>
                        </label>
                        Inactive
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
        </div>
    </div>
</div>


<%- include("../../partials/footer") %>
