<%- include("../../partials/header") %>

<div class="row">
    <div class="col-12 col-md-6 col-lg-6">
        <form id="category_form" method="post" data-form-valid="saveCategorySubCategoryDetails">
            <div class="card">
                <div class="card-header">
                    <h4>Offer Details</h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label>Code</label>
                        <input type="hidden" name="updateCategoryId" id="updateCategoryId" value="" />
                        <input type="text" class="form-control" name="name"
                               id="name"
                               data-valid="required" data-msg="Please enter name"
                        >
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control form-control-sm" name="description"
                                  id="description"></textarea>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Amount Off</label>
                            <input type="hidden" name="updateCategoryId" id="updateCategoryId" value="" />
                            <input type="text" class="form-control" name="name"
                                   id="name"
                                   data-valid="required" data-msg="Please enter name"
                            >
                        </div>
                        <div class="form-group col-md-6">
                            <label>Off Type</label>
                            <select id="offType" name="offType" class="form-control">
                                <option value="1">Amount</option>
                                <option value="2">Percentage</option>
                                <option value="3">Free Shipping</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Apply To</label>
                            <select  id="applyTo" name="applyTo" class="form-control">
                                <option value="1">All Product</option>
                                <option value="5">All Order</option>
                                <option value="2">Specific Product</option>
                                <option value="3">Minimum order subtotal</option>
                                <option value="4">Specific User</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6 d-none" id="specifyProductSelectionBox">
                            <label>Specify product</label>
                            <select  id="product" name="product" class="form-control">

                            </select>
                        </div>
                        <div class="form-group col-md-6 d-none" id="specifyUserSelectionBox">
                            <label>Specify user</label>
                            <select  id="user" name="user" class="form-control">

                            </select>
                        </div>
                        <div class="form-group col-md-6 d-none" id="minSubTotalAmountBox">
                            <label>Minimum subtotal amount</label>
                            <input type="number" class="form-control" name="name"
                                   id="name">
                        </div>
                    </div>

                    <div class="section-title">Valid between</div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Start Date</label>
                            <input type="date" class="form-control" name="name"
                                   id="name">
                        </div>
                        <div class="form-group col-md-6">

                                <label>end Date</label>
                                <input type="date" class="form-control" name="name"
                                       id="name">
                            <small id="passwordHelpBlock" class="form-text text-muted">
                                Note: default Never expiry
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Limit Users</label>
                        <input type="number" class="form-control" name="name"
                               id="name">
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </div>
        </form>

    </div>
</div>


<%- include("../../partials/footer") %>
