<div class="osahan-coming-soon p-4 d-flex justify-content-center align-items-center">
    <div class="osahan-text text-center">
        <div class="osahan-img pb-5">
            <img src="/img/blank_canvas.svg" class="img-fluid mx-auto" alt="Responsive image">
        </div>
        <h3 class="text-primary mb-3 font-weight-bold" id="errorTitle">Products not <b>found</b></h3>
        <p class="lead small mb-0" id="errorSubTitle">Oops! Looks like you followed a bad link.</p>
        <p class="mb-5" id="errorDescription">If you think this is a problem with us.</p>
    </div>
</div>
