<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Askbootstrap">
    <meta name="author" content="Askbootstrap">
    <link rel="icon" type="image/png" href="/img/fav.png">
    <title><%= title %></title>
    <!-- Slick Slider -->
    <link rel="stylesheet" href="/modules/izitoast/css/iziToast.css">
    <link rel="stylesheet" type="text/css" href="/modules/vendor/slick/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="/modules/vendor/slick/slick-theme.min.css"/>
    <!-- Feather Icon-->
    <link href="/modules/vendor/icons/feather.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap core CSS -->
    <link href="/modules/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/client/style.css" rel="stylesheet">
    <!-- Sidebar CSS -->
    <link href="/modules/vendor/sidebar/demo.css" rel="stylesheet">
    <% if(url =="/login") { %>
    <!-- Flag Mobile Number -->
    <link rel="stylesheet" href="/modules/vendor/build/css/intlTelInput.css">
    <link rel="stylesheet" href="/modules/vendor/build/css/demo.css">
    <% } %>
</head>
<body class="<% (url =="/login" || url=="location" || url=="locationSelection")
        ? "":"fixed-bottom-bar" %>">
