<%- include("../../partials/header") %>

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h4><%= title %></h4>
        </div>
        <div class="card-body p-0">
            <div class="col-md-6">
                <div class="summary">
                    <div class="summary-item">
                        <h6>Category List <span class="text-muted" id="countOfItem">(0 Items)</span></h6>
                        <ul class="list-unstyled list-unstyled-border" id="categoryRanking">

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("../../partials/footer") %>
